@import url('https://fonts.googleapis.com/css?family=Asap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24272E;
}

header {
  background-color: white;
  padding: 20px;
}

header > h1 {
  color: #24272E;
  text-align: center;
  font-family: Asap, sans-serif;
}